body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  color: black;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;   /* Flexbox */
}

nav li {
  margin-right: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


main {
  background-color: white;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

img {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

ul {
  padding-left: 20px;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.source a {
  color: blue;
}
